[submodule "TFG-Server"]
	path = TFG-Server
	url = https://github.com/DanielCalle/TFG-Server
[submodule "TFG-Android"]
	path = TFG-Android
	url = https://github.com/DanielCalle/TFG-Android
[submodule "TFG-Vuforia"]
	path = TFG-Vuforia
	url = https://github.com/DanielCalle/TFG-Vuforia
