
.img-width-fill {
    width: 100%;
    height: auto;
}

.img-height-fill {
    width: auto;
    height: 100%;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
}