[Desktop Entry]
Encoding=UTF-8
Name=Link to https://github.com/filmar-team/FilmAR/blob/master/README.md#filmar
Type=Link
URL=https://github.com/filmar-team/FilmAR/blob/master/README.md#filmar
Icon=text-html
